div[id="main"]{
  background-color: aliceblue;
  border-radius: 15px;
  border: black 1px solid;
  box-shadow: 0 0 7px #666;
  width: auto;
  height: auto;
  margin-top: 4rem;
  margin-left: 10%;
  margin-right: 10%;
}

.input{
  text-align: center;
}

p-button{
  margin-left: 5px;
}

form{
  margin-left: 5rem;
  margin-right: 5rem;
}

h5{
  font-size: 3rem;
}




