<div class="form">
  <form>
    <app-canvas [WidthHeight]="300"></app-canvas>
    <br/>
    <p>Y: {{val}}</p>
    <p-slider [(ngModel)]="val" [min]="-5" [max]="5" [ngModelOptions]="{standalone: true}" ></p-slider>
    <br/>
    <p-dropdown [options]="X" [(ngModel)]="selectedX" placeholder="Select X" [ngModelOptions]="{standalone: true}"></p-dropdown>
    <p-dropdown [options]="R" [(ngModel)]="selectedR" placeholder="Select R" [ngModelOptions]="{standalone: true}"></p-dropdown>
    <br/>
    <br/>
  </form>

</div>
